<%-include top%>
<%-include sidebar%>
		<div class="col-sm-17">
			<span id="ct_3">账户资料</span>
			<hr id="ct_7">
			<div id="ct_8">
				<ul>
					<li>
						用户ID ：<%= userinfo.username %>
					</li>
					<li>
						用户密码 ：<%= userinfo.username %>
					</li>
					<li>
						注册时间 : <%= userinfo.date.looktime %>
					</li>
					<li>
						姓 名 ：<%= userinfo.realname %>
					</li>
					<li>
						手 机 ：<%= userinfo.phone %>
					</li>
					<li>
						邮 箱 : <%= userinfo.email %>
					</li>
					<li>
						Q Q ：<%= userinfo.qq %>
					</li>
					<li>
						大学 ：<%= userinfo.college %>
					</li>
					<li>
						专业 : <%= userinfo.major %>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>

</body>
</html>