<%-include top%>
<%-include sidebar%>
		<div class="col-sm-17">
			<span id="ct_3">我的资料</span>
			<hr id="ct_7">
			<div class="help-block">建议留下联系方式以提升交易成功率，如资料未通过审核，将被禁用，带*号为必填项</div>
			<form method="post" action="/user/<%= userId%>/info">
				<div class="form-gruoup">
					<ul class="fromRow clearfix">
						<li class="left tr">
						姓 名：
						</li>
						<li class="right">
							<input type="text" class="form-control ct_4" name="realname" value="<%=login.realname%>">
						</li>
					</ul>
					<ul class="fromRow clearfix">
						<li class="left tr">
						<b class="ct_5">*</b>手 机：
						</li>
						<li class="right">
							<input type="text" class="form-control ct_4" name="phone" value="<%=login.phone%>">
						</li>
					</ul>
					<ul class="fromRow clearfix">
						<li class="left tr">
						邮 箱：
						</li>
						<li class="right">
							<input type="text" class="form-control ct_4" name="email" value="<%=login.email%>">
						</li>
					</ul>
					<ul class="fromRow clearfix">
						<li class="left tr">
						<b class="ct_5">*</b>Q Q：
						</li>
						<li class="right">
							<input type="text" class="form-control ct_4" name="qq" value="<%=login.qq%>">
						</li>
					</ul>
					<ul class="fromRow clearfix">
						<li class="left tr">
						<b class="ct_5">*</b>学 校：
						</li>
						<li class="right">
							<select class="form-control ct_4" name="college">
								<option value="杭州电子科技大学">杭州电子科技大学
								</option>
							</select>
						</li>
					</ul>
					<ul class="fromRow clearfix">
						<li class="left tr">
						<b class="ct_5">*</b>专 业：
						</li>
						<li class="right">
							<input type="text" class="form-control ct_4" name="major" value="<%=login.major%>">
						</li>
					</ul>
					<div id="submitdiv">
						<input type="submit" class="btn ct_6" value="保存修改">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>